$container-width: 1194px;

.container {
  width: $container-width;
  margin-top: 90px;

  display: flex;
  position: relative;

  .col4 {
    width: calc($container-width/3);
    display: flex;
    flex-direction: column;
  }

  .col8 {
    width: calc($container-width/3 * 2);
    margin-top: 450px;
    height: 0;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 70%;
  }
}
