.languageSelectBox {
  margin: 50px;
  .dropdownButton {
    height: 36px;
    width: 378px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 12px;
  }

  .languageContainer {
    margin-top: 10px;
    border: 1px solid #dddddd;
    width: 378px;
    border-radius: 8px;

    ul {
      li {
        .checkbox {
          font-size: 14px;
          line-height: 18px;
          color: #000000;
          display: flex;
          align-items: center;
          height: 30px;
          padding: 5px 12px;

          input {
            cursor: pointer;
            margin-right: 10px;
          }

          input[type="checkbox"] {
            height: 18px;
            width: 18px;
            background: transparent;

            appearance: none;
            border: 1px solid #bbbbbb;
            border-radius: 4px;
            display: grid;
            place-content: center;
            --tw-ring-shadow: none;
          }

          input[type="checkbox"]::before {
            content: "";
            width: 12px;
            height: 12px;
            transform: scale(0);
            box-shadow: inset 1em 1em #7d4aea;
          }

          input[type="checkbox"]:checked::before {
            transform: scale(1);
            clip-path: polygon(
              14% 44%,
              0 65%,
              50% 100%,
              100% 16%,
              80% 0%,
              43% 62%
            );
          }
        }
      }
    }
  }
}
