// THEME
.theme {
  width: 100%;
  position: absolute;
  z-index: -1;

  .firstBackground {
    height: 910px;
    background: linear-gradient(to bottom, #ffffff 0%, #e3f2f7 100%);
  }

  .secondBackground {
    height: 630px;
    background: rgba(102, 102, 102, 1);
  }
}

// CONTAINER

.container {
  max-width: 1194px;
  min-width: 840px;
  margin: auto;
  padding: 0 10px 20px;

  position: relative;
}
