// Theme
.theme {
  width: 100%;
  position: absolute;
  z-index: -1;

  .firstBackground {
    height: 910px;
    background: linear-gradient(to bottom, #ffffff 0%, #e3f2f7 100%);
  }

  .secondBackground {
    height: 630px;
    background: rgba(102, 102, 102, 1);
  }
}

// Container
$container-width: 1194px;

.container {
  max-width: $container-width;
  min-width: 840px;
  margin: auto;
  padding: 0 10px 20px;
  position: relative;

  .col4_8 {
    margin: auto;
    position: relative;
    display: flex;

    .col4 {
      width: calc($container-width/3);
      display: flex;
      flex-direction: column;
    }

    .col8 {
      width: calc($container-width/3 * 2);
      padding-top: 90px;
      display: flex;
      justify-content: center;
      position: relative;
    }
  }
}
