.targetting {
  .titleContainer {
    display: flex;
    align-items: center;

    color: #000000;
    letter-spacing: -0.03em;
    font-weight: 700;

    .titleNumber {
      height: 36px;
      width: 36px;

      display: flex;
      align-items: center;
      justify-content: center;

      background: #eaeaea;
      border-radius: 50%;
      font-size: 16px;
      line-height: 24px;
    }

    .title {
      margin-left: 15px;

      font-size: 18px;
      line-height: 36px;
    }
  }

  .rules {
    width: 378px;
    margin-top: 30px;

    .deviceBox {
      margin-top: 20px;

      .boxContainer {
        display: flex;
        justify-content: space-between;
        .checkbox {
          height: 48px;
          width: 179px;
          left: 243px;

          display: flex;
          justify-content: center;
          align-items: center;

          background: #f5f5f5;
          border-radius: 12px;

          .topping {
            position: relative;

            input {
              cursor: pointer;
            }

            input[type="checkbox"] {
              height: 18px;
              width: 18px;
              background: transparent;

              appearance: none;
              border: 1px solid #bbbbbb;
              border-radius: 4px;
              display: grid;
              place-content: center;
              --tw-ring-shadow: none;
            }

            input[type="checkbox"]::before {
              content: "";
              width: 12px;
              height: 12px;
              transform: scale(0);
              box-shadow: inset 1em 1em #7d4aea;
            }

            input[type="checkbox"]:checked::before {
              transform: scale(1);
              clip-path: polygon(
                14% 44%,
                0 65%,
                50% 100%,
                100% 16%,
                80% 0%,
                43% 62%
              );
            }
          }

          span {
            margin-left: 10px;
          }

          .p {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #000000;
            margin: auto 5px;
          }
        }
      }
    }

    // input[type="checkbox"]:focus {
    //   background-color: #7d4aea;
    //   border: 1px solid #7d4aea;
    //   transition: 0.3s;
    // }

    .rulesSwitch {
      display: flex;
      justify-content: space-between;

      .subTitles {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.03em;
        color: #000000;
      }

      // SWİTCH
      input[type="checkbox"] {
        height: 0;
        width: 0;

        visibility: hidden;
      }

      label {
        height: 20px;
        width: 34px;

        cursor: pointer;
        text-indent: -9999px;

        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
      }

      label:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 3px;
        width: 16px;
        height: 16px;
        background: #fff;
        border-radius: 90px;
        transition: 0.5s;
      }

      input:checked + label {
        background: #7d4aea;
      }

      input:checked + label:after {
        left: calc(100% - 3px);
        transform: translateX(-100%);
      }

      label:active:after {
        width: 30px;
      }
    }

    // After X Seconds
    .targetingRulesInputs {
      height: 36px;
      width: 378px;
      margin-top: 15px;
      padding: 9px 12px;
      background: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 8px;
    }

    .targetingRulesInputs:hover {
      border: 1px solid #7d4aea;
      box-shadow: 1px 1px 2px #7d4aea;
    }

    .targetingRulesInputs:focus {
      outline: max(2px) solid #7d4aea;
      opacity: 0.8;
    }

    // BROWSER LANGUAGE

    .rules:nth-child(6) {
      margin-top: 78px;
    }

    .dropdown {
      width: 378px;
      background: #fff;
      margin-top: 15px;

      label {
        span {
          background: #fff;
          cursor: pointer;
          display: block;
          height: 36px;
          border: 1px solid rgba(221, 221, 221, 1);
          border-radius: 8px;
        }

        span::after {
          float: right;
          right: 10%;
          content: "+";
        }
      }

      input {
        position: absolute;
        opacity: 0;
        height: 0px;
      }

      input:checked + .slide {
        height: 100px;
      }

      .slide {
        clear: both;
        width: 100%;
        height: 0px;
        overflow: hidden;
        text-align: center;
        transition: height 0.4s ease;
        li {
          text-decoration: none;
          color: #2d2f31;

          a {
            text-decoration: none;
            color: #2d2f31;
          }
        }
      }
    }

    label {
      cursor: pointer;

      .dropdown {
        border: 1px solid rgba(221, 221, 221, 1);
        border-radius: 8px;

        span {
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: -0.01em;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
        }

        span::after {
          float: right;
          right: 10%;
        }

        input {
          position: absolute;
          opacity: 0;
          height: 0px;
        }

        input:checked + .context {
          height: 100px;
        }
      }

      .context {
        clear: both;
        width: 840px;
        height: 0px;
        overflow: hidden;
        transition: height 0.4s ease;
        margin-top: 20px;
        font-weight: 450;
        font-size: 16px;
        line-height: 26px;

        letter-spacing: -0.01em;
      }
    }
  }
}
