$default-button-text-color: #ffff; // Button text color

$container-width: 480px; // Container sizes to generate other modals
$container-height: 446px;

.container {
  height: $container-height;
  width: $container-width;
  margin: calc($container-height * (-1)) calc(($container-width) * (-1));

  text-align: center;
  border-radius: 15px;
  background-color: white;
  box-shadow: 10px 10px 30px 1px #cacaca;
  overflow: hidden;

  // Close Button - Start
  .closeButtonSquare {
    height: 34px;
    width: 34px;

    position: absolute;
    top: 23px;
    right: 23px;

    .closeButton {
      font-size: 34px;
      color: #000000;
      opacity: 0.4;
    }

    .closeButton:hover {
      opacity: 0.6;
      transition: 0.3s;
    }
  }
  // Close Button - End

  // Figure - Start
  .circle {
    height: 90px;
    width: 90px;
    margin: 40px auto 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.9;
    border-radius: 50%;
  }
  // Figure - End

  // Content - Start
  h1 {
    // TITLE
    margin-top: 29px;

    color: #000000;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
  }

  h2 {
    // SUBTITLE
    margin-top: 20px;

    color: #000000;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
  }

  p {
    // CONTENTS
    width: 350px;
    height: 48px;

    margin: 41px auto 0;
    text-align: left;
    padding: 15px;

    color: #000000;
    border-radius: 12px;
    border: 1px solid rgba(210, 218, 227, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }
  // Content - End

  // Buttons and Inputs - Start
  form {
    margin-top: 30px;

    button {
      height: 48px;
      width: 168px;
      border: 1px solid rgba(210, 218, 227, 1);
      border-radius: 12px;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0em;
    }

    .buttonCancel {
      color: #000000;
    }

    .buttonCancel:hover {
      background: rgb(248, 248, 248);
      transition: 0.3s;
      box-shadow: 1px 1px 8px #e8e8e8;
    }

    .buttonApply {
      margin-left: 14px;

      opacity: 0.9;
    }

    .buttonApply:hover {
      transition: 0.3s;
      opacity: 1;
      box-shadow: 1px 1px 8px #cacaca;
    }
  }
}
// Buttons and Inputs - End
