$default-position-left: 50%;
$default-position-top: 50%;
$default-font-size: 22px;
$default-background-color: #7d4aea;

$container-width: 480px;
$container-height: 600px;

.container {
  width: $container-width;
  height: $container-height;
  position: relative; //
  display: flex; //
  flex-direction: column; //
  // position: fixed;
  // left: $default-position-left;
  // top: $default-position-top;
  // -webkit-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
  border-radius: 15px;
  text-align: center;
  background-color: white;
  box-shadow: 10px 10px 30px 1px #cacaca;

  .closeButtonSquare {
    position: absolute;
    top: 23px;
    right: 23px;
    width: 34px;
    height: 34px;
    z-index: 1;

    .closeButton {
      font-size: 34px;
      color: #000000;
      opacity: 0.4;
    }

    .closeButton:hover {
      opacity: 0.6;
      transition: 0.3s;
    }
  }

  h1 {
    margin-top: 39px;
    font-size: calc($default-font-size + 8px);
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
  }

  h2 {
    margin-top: 20px;
    font-size: calc($default-font-size);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
  }

  form {
    margin-top: 31px;

    button {
      height: 48px;
      width: 350px;
      border: 1px solid rgba(210, 218, 227, 1);
      border-radius: 12px;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0em;
      color: #000000;
    }

    .button1:hover {
      background: rgb(248, 248, 248);
      transition: 0.3s;
      box-shadow: 1px 1px 8px #e8e8e8;
    }

    .button2 {
      background: $default-background-color;
      opacity: 0.9;
      color: rgba(255, 255, 255, 1);
      margin-bottom: 14px;
    }

    .button2:hover {
      transition: 0.3s;
      opacity: 1;
      box-shadow: 1px 1px 8px #cacaca;
    }
  }
}